.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# Example project files
coap_server_dht22/**/sdkconfig
coap_server_dht22/**/sdkconfig.old
coap_server_dht22/**/build
TEST_LOGS

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

test_multi_heap_host

# VS Code Settings
.vscode/

# Clion IDE CMake build & config
.idea/
cmake-build-*/

# Results for the checking of the Python coding style
flake8_output.txt

# ESP-IDF default build directory name
build
